<!-- messages.ejs -->
<!DOCTYPE html>
<html>
<%- include("./partials/head.ejs") %>
<body>
	<%- include("./partials/nav.ejs") %>
	<h1>Messages From Our Brothers and Sisters in Christ</h1>
	<div>
		<% messages.forEach(message => { %>
			<h1 class="username">Posted by: <%= message.username %></h1>
			<h1 class="date">Posted at: <%= message.date %></h1>
			<h2 class="topic"> Topic Of: "<%=  message.topic %>"</h2>
			<h3 class="message"><%= message.message %></h3>
		<% }) %>	
	</div>
	<h1>Add your personal message <a href="/add-message">here.</a></h1>
	<%- include("./partials/foot.ejs") %>
	<script type="text/javascript" src=".js"></script>
</body>
